# 1. ARQUIVOS GERADOS / DE SAÍDA (Obrigatório)
public/
node_modules/


# 2. ARQUIVOS DE BUILD/CACHE (Obrigatório)
.quartz-cache/
dist/


# 3. OBSIDIAN / TEMPORÁRIOS

content/.obsidian/
**/*.bak
npm-debug.log
.DS_Store
.env


# 4. QUARTZ

package-lock.json
